# Environment Variables
PORT=3000
NODE_ENV=development

# Database Connection (PostgreSQL)
DATABASE_URL=

# Gemini API Key (Server-side)
GEMINI_API_KEY=

# Resend Email Integration
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
